
@font-face {
    font-family: 'Copperplate Gothic Bold';
    src: url('fonts/copper_bold.eot');
    src: url('fonts/copper_bold.eot') format('embedded-opentype'),
    url('fonts/copper_bold.woff2') format('woff2'),
    url('fonts/copper_bold.woff') format('woff'),
    url('fonts/copper_bold.ttf') format('truetype'),
    url('fonts/copper_bold.svg#copper_bold') format('svg');
    font-style: normal;
    font-weight: normal;
}

/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/montserrat-v15-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('fonts/montserrat-v15-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/montserrat-v15-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/montserrat-v15-latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/montserrat-v15-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('fonts/montserrat-v15-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
    url('fonts/montserrat-v15-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/montserrat-v15-latin_cyrillic-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/*@font-face {*/
/*        font-family: "MuseoSansLight";*/
/*        src: url("../fonts/MuseoSansLight/MuseoSansLight.eot");*/
/*        src: url("../fonts/MuseoSansLight/MuseoSansLight.eot?#iefix")format("embedded-opentype"),*/
/*        url("../fonts/MuseoSansLight/MuseoSansLight.woff") format("woff"),*/
/*        url("../fonts/MuseoSansLight/MuseoSansLight.ttf") format("truetype");*/
/*        font-style: normal;*/
/*        font-weight: normal;*/
/*}*/

/*@font-face {*/
/*        font-family: "MuseoSansMedium";*/
/*        src: url("../fonts/MuseoSansMedium/MuseoSansMedium.eot");*/
/*        src: url("../fonts/MuseoSansMedium/MuseoSansMedium.eot?#iefix")format("embedded-opentype"),*/
/*        url("../fonts/MuseoSansMedium/MuseoSansMedium.woff") format("woff"),*/
/*        url("../fonts/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype");*/
/*        font-style: normal;*/
/*        font-weight: normal;*/
/*}*/

/*@font-face {*/
/*        font-family: "MuseoSansBlack";*/
/*        src: url("../Fonts/MuseoSansBlack.eot");*/
/*        src: url("../Fonts/MuseoSansBlack.eot?#iefix")format("embedded-opentype"),*/
/*        url("../Fonts/MuseoSansBlack.woff") format("woff"),*/
/*        url("../Fonts/MuseoSansBlack.ttf") format("truetype");*/
/*        font-style: normal;*/
/*        font-weight: normal;*/
/*}*/
