@import '../commons/_variables';
@import '../commons/_mixins';

.header {
  background: url('../../img/header/bg.webp') no-repeat fixed center center;
  background-size: cover;

  &__blur {
    background: rgba(31, 32, 33, 0.85);
  }
  &__wrapper {
    @include flexPack;
    padding: 40px 0px 65px;
  }
  &__nav {
    &-link {
      @include links;
      @include text(18px, 22px, $white, 400);
      &:not(:last-child) {
        margin-right: 50px;
      }
      img {
        @include wh(35px, 35px);
        fill: #111;
      }
    }
    &-basket {
      background: url('../../img/basket.svg') no-repeat left;
      padding-left: 32px;
    }
  }
  &__items {
    padding: 25px 0px 3px;
    text-align: right;
    &-title {
      @include text(38px, 46px, $white, bold);
    }
  }
  &__top-position {
    padding-bottom: 50px;
  }
  &__logo {
    padding-right: 120px;
    img {
      @include wh(80px, 80px);
      border-radius: 100px;
      margin-right: 20px;
    }
    &-about {
      align-items: flex-start;
    }
    &-title {
      @include text(24px, 29px, $white, bold);
    }
    &-subtitle {
      @include text(18px, 22px, $white);
    }
  }
}